In [42]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import BernoulliNB
from sklearn import metrics
from joblib import dump
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt

In [43]:
df1 = pd.read_csv('dark-patterns-v2.csv')
df1 = df1[pd.notnull(df1["Pattern String"])]
df1['classification'] = 'Dark'
col = ["Pattern String","classification"]
df1 = df1[col]
df1

                                         Pattern String classification
0     Collin P. from Grandview Missouri just bought ...           Dark
1     Faith in Glendale, United States purchased a C...           Dark
2     Sharmeen Atif From Karachi just bought Stylish...           Dark
3                            9 people are viewing this.           Dark
4              5338 people viewed this in the last hour           Dark
...                                                 ...            ...
1810       TWO FREE PILLOWS AND 30% OFF WITH PROMO CODE           Dark
1812                                         Compare at           Dark
1813                                     $132.90 $99.00           Dark
1814   This offer is only VALID if you add to cart now!           Dark
1817                          Save $148.98AUD – 49% Off           Dark

[1512 rows x 2 columns]

In [44]:
df2 = pd.read_csv('dataset.csv')
df2 = df2[pd.notnull(df2["Pattern String"])]
df2

                                         Pattern String classification
0                                   Pillowcases & Shams       Not Dark
1                                        Write a review       Not Dark
2     To start your return, simply click on the foll...       Not Dark
3                   newsletter signup (privacy policy)        Not Dark
4     We cannot guarantee door to door delivery for ...       Not Dark
...                                                 ...            ...
1704                      No ratings yet. Be the first!       Not Dark
1705                                 Rate and Review It       Not Dark
1706                                       Order Lookup       Not Dark
1707                                          COMMUNITY       Not Dark
1708                             $5 Off Your Next Order       Not Dark

[1709 rows x 2 columns]

In [45]:
df = pd.concat([df1, df2])
df

                                         Pattern String classification
0     Collin P. from Grandview Missouri just bought ...           Dark
1     Faith in Glendale, United States purchased a C...           Dark
2     Sharmeen Atif From Karachi just bought Stylish...           Dark
3                            9 people are viewing this.           Dark
4              5338 people viewed this in the last hour           Dark
...                                                 ...            ...
1704                      No ratings yet. Be the first!       Not Dark
1705                                 Rate and Review It       Not Dark
1706                                       Order Lookup       Not Dark
1707                                          COMMUNITY       Not Dark
1708                             $5 Off Your Next Order       Not Dark

[3221 rows x 2 columns]

In [46]:
X_train, X_test, y_train, y_test = train_test_split(df['Pattern String'], df['classification'], test_size=.3)

In [47]:
X_train

520                                 View All Home Accents
744                                         ROAD CLOTHING
1261    Your path to this page. Select a link to go ba...
570               Choose Type of Cookies You Accept Using
276     Selling fast! Add to bag 7 times in the last 4...
                              ...
39      A customer service specialist will contact you...
889                                             Household
647                             All Scrapbooking Supplies
813                               Bike Parts & Components
930                            Articles: Medical Matters
Name: Pattern String, Length: 2254, dtype: object

In [48]:
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(X_train)
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
clf = BernoulliNB().fit(X_train_tfidf, y_train)
y_pred = clf.predict(count_vect.transform(X_test))

In [49]:
dump(clf, 'yn_class.joblib')
dump(count_vect, 'yn_vector.joblib')

['yn_vector.joblib']

In [50]:
metrics.accuracy_score(y_pred, y_test)

0.9503619441571872